
<div style="display: inline-block;">
    <header>
        <img src="./../../assets/image/santhosh.jpg " class="image"> <br>
        <div class="header">
    
        <h1>dream_boy_tn_24</h1> <br>
       <h3> 17posts  222Followers   52Following</h3> <br>
         
          Santhosh<br>
          Editor<br>
         ☣️Student of BCA🖥️⌨️<br>
         ✨Creater and Editer💯<br>
         😇I love photography💝<br>
         💖friends forever 🤩<br> 
         ⚠️KRISHNAGIRI #tn24😎<br>
         🥭Mango city 🇮🇳 india<br>
          ✧༺♥༻✧<br>
         ****Attitude overload****
        </div>
        <hr>
    </header>
    
    <nav>
       <h1 class="h1"><i>INSTAGRAM</i></h1> 
        <ul>
            <li *ngFor="let home of nav"><a>{{ home }}</a></li>
           
        </ul>
    </nav>
    <main>
        <div>
            
        <a (click)="toggleposts()" class="span">POSTS</a>
        <a (click)="togglesaved()" class="span">SAVED</a>
        <a (click)="toggletagged()" class="span">TAGGED</a>
         
    </div>
    
    <div *ngIf="isVisibleposts === 'active'; then postBlock else (isVisiblesave === 'active' ? save : tagged)"></div>
    
    <ng-template #postBlock>
      
      <div class="posts" >
        <img src="./../../assets/image/1.webp" class="img">
        <img src="./../../assets/image/2.webp" class="img">
        <img src="./../../assets/image/3.webp" class="img">
        <img src="./../../assets/image/4.webp" class="img">
        <img src="./../../assets/image/5.webp" class="img">
        <img src="./../../assets/image/6.webp" class="img">
        <img src="./../../assets/image/7.webp" class="img">
        <img src="./../../assets/image/8.webp" class="img">
        <img src="./../../assets/image/10.webp" class="img">
        <img src="./../../assets/image/9.webp" class="img">
        <img src="./../../assets/image/11.webp" class="img">
        <img src="./../../assets/image/12.webp" class="img">
        </div>
    </ng-template>
    
    <ng-template #save>
        <div class="saved">
            <h1>photos</h1>
            <h1>videos</h1>
            </div>
    </ng-template>
    
    <ng-template #tagged>
        <div class="tagged">
            <h1>@santhosh</h1>
        </div>
    </ng-template>
    
    </main>
    
    <footer>
        Meta Verified  English © 2023 Instagram from Meta
    </footer>
    </div>
    